* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 30px;
  display: flex;
  background-color: lightgrey;
  height: 100vh;
}

.todolist {
  border: 2px solid silver;
  background-color: bisque;
  border-radius: 15px;
  padding: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

ul {
  width: 100%;
}

.todo-list-item {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

button {
  cursor: pointer;
}

