@import "../base/variables.module";

.taskTitle {
  cursor: pointer;
  width: 60%;
  letter-spacing: 1px;
}
.taskTitleChanger {
  background: transparent;
  color: var(--main-font-color);
  padding: 5px;
  border: 1px solid var(--todolist-font-color);
  outline: none;
  letter-spacing: 1px;
  font-family: var(--main-font-family), sans-serif;
  &::placeholder {
    font-family: var(--main-font-family), sans-serif;
  }
}
.taskTitleChangerButton {
  background: transparent;
  border: 1px solid var(--todolist-font-color);
  color: var(--main-font-color);
  padding: 5px;
}
.taskDone{
  text-decoration: line-through;
  opacity: 0.5;
}
button.activeFilterBtn {
  border: 1px solid dodgerblue;
}
.editModeBox {
  display: flex;
}
.border {
  border: 1px solid silver;
}