@import '../base/variables.module';

.todolist {
  border: 2px solid var(--todolist-font-colot);
  background-color: var(--todolist-back-color);
  border-radius: 5px;
  padding: 20px;
  width: 340px;
  gap: 15px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .todolistBox {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__input {
      padding: 5px;
      width: 85%;
    }
    &__button {
      border: 1px solid var(--todolist-font-colot);
      background: transparent;
      width: 30px;
      color: var(--todolist-font-colot);
    }
  }

  &__list {
    width: 100%;

    &Item {
      padding: 5px 0;
      display: flex;
      justify-content: space-between;

      &Button {
        @extend .todolistBox__button;
      }
    }
  }

  &ButtonGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &filterButton {
    width: 32%;
    padding: 5px;
    font-family: var(--main-font-family), sans-serif;
    color: var(--todolist-font-color);
    background: transparent;
    border: 1px solid var(--todolist-font-colot);
    text-align: center;
  }
}


